{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% block title %}
Host | Tickets
{% endblock title %}
    {% block content %}
    <div class="container mt-2 mb-2">
        <div class="row mt-2 mb-2">
        <div class="col mt-2 mb-2">
                <div class="card shadow-md mt-2 mb-2">
                    <div class="card-body">
                        <h5 class="card-text text-center">{{ ticket.category }} ticket for {{ticket.event}} 
                            going for ksh {{ ticket.price }}</h5>
                        <p class="card-text"> </p>
                        <div class="">
                        {% for rsvp in ticket.reservation_set.all  %}
                        {{rsvp.count}}
                        {% endfor %}
                        {% for slot in ticket.event.available_slots.all %}
                        {% if slot.category == ticket.category %}
                        {% if reservations == slot.numberOfSeats%} 
                        <!-- number_of_slots -->
                    
                        <del>
                        <span class="badge bg-danger" style="font-size: larger; font-weight: 800;">SOLD OUT</span>
                    
                        </del>
                        <p>
                        </p>
                        {% else %}
                        Booked:

                        <span class="badge bg-danger" style="font-size: medium; font-weight: bold;">{{reservations}}</span>
                        /
                        <span class="badge bg-success" style="font-size: medium; font-weight: bold;">{{ slot.numberOfSeats  }}</span>
                        <p>
                            Sold : {{reservations|mul:ticket.price }}
                        </p>
                        <p>
                            available slots : {{slot.numberOfSeats|sub:reservations }}

                        </p>


                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>

                        <a href="{% url 'admin_ticket_edit' ticket.id %}">Update</a>
                        <a href="{% url 'admin_ticket_delete' ticket.id %}">Delete</a>

                    </div>
                </div>

        </div>
    </div>
    </div>

    {% endblock content %}