{% extends 'base.html' %}
{% block title %}
Host | Events
{% endblock title %}
   
   
   {% block content %}
    <div class="container mt-2 mb-2">
        <div class="row mt-2 mb-2">
        {% for event in events %}
        <div class="col-md-3 mt-2 mb-2">
                <div class="card shadow-md mt-2 mb-2">
                    <div class="card-body">
                        <p class="card-text">{{ event.title }}</p>
                        <a href="{% url 'host_event_edit' event.id %}">Update</a>
                        <a href="{% url 'host_event_delete' event.id %}">Delete</a>
                        {% for ticket in event.ticket_set.all %}
                        <a href="{% url 'host_ticket_details' ticket.id %}">
                            <span class="badge badge-success">{{ ticket.category }} <strong style="color: brown; font-size: small; font-weight: 800;">ksh: {{ ticket.price }} </strong>
                                {% for slot in ticket.event.available_slots.all %}
                                {% if slot.category == ticket.category %}
                                    {{ slot.numberOfSeats }} seats 
                                {% endif %}
                                {% endfor %}
                                </span>
                                </a>
                                {% endfor %}

                        
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
    </div>
    {% endblock content %}