{% extends 'base.html' %}
{% block title %}
Host | Dashboard
{% endblock title %}


    {% block content %}
    <div class="container mt-2 mb-2">
        <div class="row mt-2 mb-2">
        <div class="col-3 mt-2 mb-2">
            <div class="card shadow-md mt-2 mb-2">
                <div class="card-body bg-dark">
                    <h2 class="card-text text-white">EVENTS</h2>
                    <h2 class="card-text text-white">{{events.count}}</h2>
                    <a class="stretched-link text-secondary" href="{% url 'host_events' %}"> View all</a>
                </div>
            </div>       
        </div>

        <div class="col-3 mt-2 mb-2">
                <div class="card shadow-md mt-2 mb-2 bg-dark">
                    <div class="card-body">
                    <h2 class="card-text text-white">SALES</h2>
                        <h2 class="card-text text-white">{{reservations.count}}</h2>
                    <a class="stretched-link text-secondary" href="{% url 'host_sales' %}"> View all</a>

                    </div>
                </div>     
        </div>

    </div>
    </div>


    {% endblock content %}