{% extends 'base2.html' %}
{% block title %}
Home
{% endblock title %}

{% load crispy_forms_tags %}
{% block content %}

    <div class="container mt-4 mb-4 align-items-center justify-content-center">
        <div class="row mt-4 mb-4">
            <div class="col-md-3 mt-4 mb-4 p-3">
                <p class="text-center"></p>
                

            </div>
            <div class="col-md-6 mt-4 mb-4 p-3">
                <p class="text-center"></p>
                {% if events %}
                    {% for event in events %}
                    
                        <div class="card mt-2 mb-2 bg-dark shadow-lg" style="border-radius: 0;">
                            <div class="card-body">
                                <h4  class="card-tittle stretched-link text-secondary"> {{ event.title }} </h4>

                                <p class="card-text text-white"> {{ event.company.username }} </p>
                                <p class="card-text text-white text-muted"> {{ event.date }} </p>
                                <a href="{% url 'event_details' event.id %}" class="card-text stretched-link text-white"></a>

                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-3 mt-4 mb-4p-3">
                <p class="text-center"></p>
            </div>
            <!-- Card -->

<!-- Card -->

        </div>
        {% if events.has_other_pages %}
        <nav>
          <ul class="pagination justify-content-center">
            {% if events.has_previous %}
              <li class="page-item bg-dark">
                <a class="page-link" href="?page={{ events.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% else %}
              <li class="page-item disabled bg-dark">
                  <span class="page-link" aria-hidden="true">&laquo;</span>
              </li>
            {% endif %}
    
            {% for p in events.paginator.page_range %}
              {% if events.number == p %}
                <li class="page-item bg-dark"><a class="page-link" style="color: rgb(246, 247, 252);" href="#">{{ p }}</a></li>
              {% else %}
                <li class="page-item bg-dark"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
              {% endif %}
            {% endfor %}
    
            {% if events.has_next %}
              <li class="page-item bg-dark">
                <a class="page-link" href="?page={{ events.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {% else %}
              <li class="page-item disabled bg-dark">
                <span class="page-link" aria-hidden="true">&raquo;</span>
              </li>
            {% endif %}
        </ul>
        </nav>
      {% endif %}
    </div>

{% endblock content %}