{% extends 'base2.html' %}
{% block title %}
Home
{% endblock title %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-4 mb-4 align-items-center justify-content-center">
        <div class="row mt-4 mb-4">
            <div class="col-md-4 mt-4 mb-4 p-3">
                <p class="text-center"></p>

            </div>
            <div class="col-md-4 mt-4 mb-4 p-3">
                <p class="text-center"></p>
                {% if events %}
                    {% for event in events %}
                        <div class="card mt-2 mb-2">
                            <div class="card-body">
                                <p class="card-text"> {{ event.company.username }} </p>
                                <a href="{% url 'event_details' event.id %}" class="card-text"> {{ event.title }} </a>
                                <p class="card-text"> {{ event.date }} </p>
                                <!-- {% for slot in event.available_slots.all %}
                                <span class="badge badge-success">{{ slot.category.name }} {{ slot.number_of_seats }} </span>

                                {% endfor %} -->
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-4 mt-4 mb-4p-3">
                <p class="text-center"></p>
            </div>

        </div>
    </div>

{% endblock content %}